# --- Environnement ---
.env
.env.local
.env.*.local

# --- Backend (Laravel) ---
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/storage/*.key
/backend/storage/app/public/tenants/
/backend/public/storage
/backend/composer.phar

# --- Frontend (React) ---
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# --- Docker & System ---
.DS_Store
.idea/
.vscode/
docker-compose.override.yml
*.log
